/* Define your CSS styles here */
/* Remember to validate your CSS at https://jigsaw.w3.org/css-validator/ */

/* Start CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End CSS Reset */

.keyboard {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	 align-items: center;
}

.key-row {
	display: flex;
	margin: 0.25%;
}

.key {
	margin: 0.1%;
	border-radius: 10%;
	color: white;
	padding: 10px;
	display: inline-block;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.key:active {
	background: yellow;
}

.key-letter {
	background: gray;
	height: 1em;
	width: 1em;
}

.key-control {
	background: orange;
}

#spacebar {
	width: 15em;
	border-radius: 5%;
}

#tab {
	width: 3em;
}

#bksp {
	width: 4em;
}
